/* section#commander *{ outline: 2px dotted purple;} */
section#contacter, section#commander {
    max-width: 1000px;
    margin: 20px auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
section#contacter header, section#commander header{
    width: 100%;
}
section#contacter > main, section#commander > main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
section#contacter > main, section#commander > main{
    width: 100%;
}
#contacter img, #commander img {
    /* float: right; */
    width: 100%;
    max-width: 320px;
}


#contacter form, #commander form {
    width: 50%;
    min-width: 320px;
    display: flex;
    flex-flow: column nowrap;
}

#contacter form label, #commander form label {
    display: block;
}
#contacter form input:not([type=submit]), textarea, #commander form input:not([type=submit]) {
    padding: 10px;
    width: 100%;
    min-width: 320px;
    margin: 0.7em 0 1.5em 0;

}

#contacter form >footer, #commander form >footer{
    display: flex;
    justify-content: flex-end;
}

#contacter form >footer input[type=submit], #commander form >footer input[type=submit] {
    border: none;
    display: flex;
    justify-content: flex-end;
}
