:root{
    --gap: 20px
}
main h1{
    display: none;
}
main section#store {
    overflow: inherit;
}
/* ligne de filtrage */
#store > header {
    overflow: auto;
    padding-bottom: 15px;
}
#store header ul {
    list-style-type: none;
    display: flex;
}
#store header ul > li {

    border-right: 2px solid transparent;
}
#store header ul > li> * {
    display: inline-block;
    text-align: center;
    padding: 10px;
}
#store header ul > li> label{
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
    transition: 0.5s ease-out;
    
    background-color: rgba(255, 255, 255, 0.24);
}
#store header ul > li:nth-of-type(2) label {
    border-radius: 10px 0 0 10px;
}
#store header ul > li:last-of-type label {
    border-radius: 0 10px 10px 0;
}
#store input[name="selection"]#all:checked ~ header label[for="all"],
#store input[name="selection"]#mug:checked ~ header label[for="mug"],
#store input[name="selection"]#coffee:checked ~ header label[for="coffee"], 
#store input[name="selection"]#plush:checked ~ header label[for="plush"]
{
    background-color: rgba(255, 188, 188, 0.568);
    font-weight: bold;
    padding: 10px 20px;
}

#store > main {
    display: flex;
    flex-flow: row wrap;
    gap: var(--gap);
}
#store > main > div {
    flex: 1 1 300px;
    display: flex;
}
#store > main article{

    display: flex;
    flex-flow: row wrap;
    animation: slidefading 0.25s ease-out;
}
@keyframes slidefading{
    0%{ opacity: 0; transform: translateY(-5%);}
    100%{ opacity: 1; transform: translateY(0);}
}
#store > main article header{
    flex: 1 1 300px;

}
#store > main article header h4{
    text-align: left;
}
#store > main article header label{
    display: inline-block;
    width: 100%;
    min-height: 200px;
    cursor: pointer;
}
#store > main article main{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
 flex: 1 1 300px;
 align-self: center;

}
#store > main article main p{
    position: relative;
}
#store main article footer{
 flex-flow: row nowrap;
 font-size: 1rem;
 justify-content: flex-end;
 flex: 0 1 1200px;
 align-self: center;
}
#store main article footer  *{
    font-size: 1em;
}
#store main article footer form input[type=submit]{
    cursor: pointer;
    border: none;
}

#store > input[name="selection"]#mug:checked ~ main > div:not(.mug),
#store > input[name="selection"]#coffee:checked ~ main > div:not(.coffee),
#store > input[name="selection"]#plush:checked ~ main > div:not(.plush)
{
    display: none;
}

#store main > div > input:checked + article > label.closing{
    position: absolute;
    font: xxx-large / 25px monospace;
    top: 25px;
    right: 25px;
    display: block;
}
#store main > div > input:checked + article > header label{
 height: 50vh;
}
#store main > div > input:checked + article > footer{
background-color: lightyellow;
padding: 5px;
}

article.plush,
article.mug,
article.coffee
{
    background-position: 95% 5%;
    background-repeat: no-repeat;
    background-size: 60px;
}

article.plush{ background-image: url("../img/gardevoir.png");}
article.mug{ background-image: url("../img/bgBase.jpg");}
article.coffee{ background-image: url("../img/coffeebg.png");}


#store main > div > article > label.closing{
    display: none;
}

#store main > div > input:checked + article {
    position: fixed;
    z-index: 1000;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
    height: 70vh;
    background-color: lightyellow;
    animation: slidefading2 0.75s ease-out;
}

#store main > div > input:checked + article{
    background-position: 50% 5%;
}
@keyframes slidefading2{
    0%{ opacity: 0; transform: translate(-50%, -5%); top: 50%;}
    50%{ transform: translate(-50%, 0); top: -100%;}
    100%{ opacity: 1; transform: translate(-50%, 0); top: 25vh;}
}