
main h1{
    display: none;
}
main section#store {
    overflow: inherit;
}
/* ligne de filtrage */
#store > header {
    overflow: auto;
    padding-bottom: 15px;
}
#store header ul {
    list-style-type: none;
    display: flex;
}
#store header ul > li {

    border-right: 2px solid transparent;
}
#store header ul > li> * {
    display: inline-block;
    text-align: center;
    padding: 10px;
}
#store header ul > li> label{
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
    transition: 0.5s ease-out;
    
    background-color: rgba(255, 255, 255, 0.24);
}
#store header ul > li:nth-of-type(2) label {
    border-radius: 10px 0 0 10px;
}
#store header ul > li:last-of-type label {
    border-radius: 0 10px 10px 0;
}
#store input[name="selection"]#all:checked ~ header label[for="all"],
#store input[name="selection"]#mug:checked ~ header label[for="mug"],
#store input[name="selection"]#coffee:checked ~ header label[for="coffee"], 
#store input[name="selection"]#plush:checked ~ header label[for="plush"]
{
    background-color: rgba(255, 188, 188, 0.568);
    font-weight: bold;
    padding: 10px 20px;
}

#store aside {
    display: flex;
    flex-flow: row wrap;
    gap: 0;
}
#store aside > div {
    flex: 1 1 300px;
    display: flex;
}
#store aside article header h4{
    text-align: left;
}
#store aside article header label{
    display: inline-block;
    width: 100%;
    min-height: 200px;
    cursor: pointer;
}
#store aside article main{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
#store aside article main p{
    position: relative;
    background-color: rgba(255, 255, 224, 0.808);
    box-shadow: -30px 0px 5px lightyellow;
}
#store aside article footer{
 flex-flow: row nowrap;
 font-size: 1rem;
}
#store aside article footer  *{
    font-size: 1em;
}
#store aside article footer form input[type=submit]{
    cursor: pointer;
    border: none;
}

#store > input[name="selection"]#mug:checked ~ aside > div:not(.mug),
#store > input[name="selection"]#coffee:checked ~ aside > div:not(.coffee),
#store > input[name="selection"]#plush:checked ~ aside > div:not(.plush)
{
    display: none;
}

#store aside > div > input:checked + article {
    position: fixed;
    top: 0;
    left: 0;
}

article.plush,
article.mug,
article.coffee
{
    background-position: 95% 5%;
    background-repeat: no-repeat;
    background-size: 60px;
}

article.plush{ background-image: url("../img/gardevoir.png");}
article.mug{ background-image: url("../img/bgBase.jpg");}
article.coffee{ background-image: url("../img/coffeebg.png");}